#nova-noticia {
	background-color: #A62F0066;
	border: 3px dotted #F24500;
	border-radius: 10px;
	padding: 3%;
	margin: 40px 0 30px 0;
	text-align: center;
}

#nova-noticia h3 {
	padding: 0;
	font-size: 2em;
}

.card-noticias {
	width: 100%;
	padding: 7px 2px;
	border-bottom: solid 2px #A62F00;
}

.card-noticias:last-child {
	border-bottom: none;
}

.card-noticias h3 a {
	color: #F24500;
	text-decoration: none;
	transition: all 0.6s;
}

.card-noticias h3 a:hover {
	color: #A62F00;
	text-shadow: 2px 3px 3px  #0002;
}

.card-noticias .data-noticia {
	color: #B55A36;
}

.editar-excluir {
	text-align: center;
}

.editar-excluir a {
	color: #F24500;
	text-decoration: none;
	font-size: 1.7em;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
	transition: all 0.5s;
}

.editar-excluir a:hover {
	color: #A62F00;
	text-shadow: 2px 3px 3px  #0002;
}

/* MODAL */
.modal-dialog {
	max-width: 60%;
}

.modal-dialog .close {
	color: #F24500;
}

.modal-dialog button#submit {
	background-color: #F24500;
	color: #fff;
	text-align: center;
	width: 100%;
	transition: all 0.5s;
}

#modal-dialog button#submit:hover {
	box-shadow: 1px 1px 4px #000a;
	text-shadow: 1px 1px 2px #0006;
}

.modal-header {
	border-bottom: solid 1px #A62F00;
	background-color: #F2450022;
}

.modal-title {
	color: #F24500;
}

#form-edita-noticia label {
	color: #F24500;
	font-weight: bold;
	margin-bottom: 0px;
}

#form-edita-noticia input, #form-edita-noticia textarea {
	border-color: #A62F00;
}

#form-edita-noticia input::placeholder, #form-edita-noticia textarea::placeholder {
	color: #F27949;
}

#form-edita-noticia textarea#noticia {
	display: block !important;
	padding: 0;
	border: 0;
	width: 0;
	height: 0;
}

#form-edita-noticia .aviso .error {
	color: #F20000;
	text-decoration: underline;
}


/* MODAL SWEET ALERT */
.swal-text {
	text-align: center;
}