/* Notícias Principais */
#principais-noticias {
	display: grid;
	grid-template-areas: "noticia1 noticia2" "noticia1 noticia3";
	margin-top: 5%;
}

#principais-noticias div {
	padding: 0;
}

#principais-noticias div:nth-child(1) {
	grid-area: noticia1;
	padding-right: 5px;
}

#principais-noticias div:nth-child(2) {
	grid-area: noticia2;
	padding-left: 5px;
}

#principais-noticias div:nth-child(3) {
	grid-area: noticia3;
	padding-left: 5px;
	margin-top: 10px;
}

#principais-noticias > div > div {
	border: solid 2px #A62F00;
	background: #B55A3644;
	border-radius: 10px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-size linear 450ms;
}

#principais-noticias > div > #noticia-principal {
	background-size: auto 100%;
}

#principais-noticias > div > #noticia-principal:hover {
	background-size: auto 130%;
}

#principais-noticias > div > .noticia-sub-principal:hover {
	background-size: 130%;
}

#principais-noticias .descricao-noticia {
	position: absolute;
	bottom: 20px;
	padding: 0 13px
}

#principais-noticias .descricao-noticia a {
	color: #F24500;
	text-decoration: none;
	text-shadow: 2px 2px 3px #000d;
	transition: all 0.5s;
}

#principais-noticias .descricao-noticia a:hover {
	color: #D43C00;
	text-decoration: none;
	text-shadow: 2px 2px 3px #000f;
}

#principais-noticias .descricao-noticia span{
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

#principais-noticias #noticia-principal {
	height: 500px;
}

#principais-noticias .noticia-sub-principal {
	height: 100%;
}


/* Seção que agrupa a coluna da direita e esquerda */
#secao-principal {
	margin-top: 5%;
}


/* Coluna da esquerda */
#coluna-esquerta {
	padding-right: 5px;
}

.card-noticias {
	border-top: solid 2px #A62F00;
	padding: 10px 0;
}

.card-noticias h3 a {
	color: #F24500;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s;
}

.card-noticias h3 a:hover {
	color: #D43C00;
}

.card-noticias .data-noticia {
	font-size: 0.8em;
	margin-top: 8px;
	color: #B55A36;
}


/* Coluna da direita */
#coluna-direita {
	padding-left: 5px;
}

.noticias-destaque {
	background-color: #fff;
	box-shadow: 1px 1px 10px #1114;
	border-radius: 10px;
	margin-bottom: 20px;
}

.noticias-destaque div {
	margin: 0 10px;
	padding: 7px 2px;
	border-top: solid 2px #A62F00;
}

.noticias-destaque div:nth-child(2) {
	border: none;
}

.noticias-destaque h3 {
	font-size: 1.5em;
	padding: 7px 7px;
	border-bottom: groove 2px #eee;
}

.noticias-destaque h4 {
	font-size: 1.2em;
	font-weight: bold;
}

.noticias-destaque h4 a {
	color: #F24500;
	text-decoration: none;
	transition: all 0.3s;
}

.noticias-destaque h4 a:hover {
	color: #D43C00;
}

.noticias-destaque span {
	font-size: 0.9em;
}

.noticias-destaque .aviso-sem-noticias {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	color: #F24500;
	padding-bottom: 15px;
}